/* 
    #FCFCFC - 
    #F7567C
    #FFFAE3
    #99E1D9
    #5D576B
*/
:root {
    --main-bg-color: #F7567C;
    /*white*/
    --text-color: #FCFCFC;
    /*bright pink:: Use white text*/
    --neutral-color: #FFFAE3;
    /*Corn silk*/
    --option-color: #99E1D9;
    /*Tiffany blue*/
    --dark-accent-color: #5D576B;
    /*Winge:: Use white text*/
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}
button 
{
    border: solid var(--dark-accent-color);
    background-color: var(--neutral-color);
}
img
{
    border: solid var(--dark-accent-color);
}
/* 
#query {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    height: 200%;
}

.option {

    color: #5D576B;
    border: inset;
    display: flex;
    gap: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: var(--option-color);

}

#movieNum {
    border: 3px solid;
    border-radius: 50%;
    border-color: aqua;
    background-color: orange;
    color: yellow;
    padding: .1%;
    margin: 0%;
    width: 7%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}



#pageName {
    flex-basis: 50%;
} */